<settings>

	<!-- <setting propertyKey="@Properties.appVersion" title="@Strings.AppVersionTitle"> 
		<settingConfig type="alphaNumeric" readonly="true" /> </setting> <setting 
		propertyKey="@Properties.myString" title="@Strings.MyStringTitle" prompt="@Strings.MyStringPrompt"> 
		<settingConfig type="list"> <listEntry value="0">@Strings.HelloWorld</listEntry> 
		<listEntry value="1">@Strings.Ackbar</listEntry> <listEntry value="2">@Strings.Garmin</listEntry> 
		</settingConfig> </setting> <setting propertyKey="@Properties.myNumber" title="@Strings.MyNumberTitle" 
		prompt="@Strings.MyNumberPrompt"> <settingConfig type="numeric" errorMessage="@Strings.MyNumberError" 
		/> </setting> <setting propertyKey="@Properties.screenSleep" title="@Strings.ScreenSleepTitle"> 
		<settingConfig type="boolean" /> </setting> <setting propertyKey="@Properties.username" 
		title="@Strings.UsernameTitle"> <settingConfig type="alphaNumeric" required="true" 
		/> </setting> -->

	<!-- setting propertyKey="@Properties.COLOR_MODE"
		title="@Strings.propertyColorMode">
		<settingConfig type="list">
			<listEntry value="0">@Strings.standard</listEntry>
			<listEntry value="1">@Strings.disco</listEntry>
			<listEntry value="2">@Strings.lucy</listEntry>
		</settingConfig>
	</setting -->

	<setting propertyKey="@Properties.PROP_COLOR_BACKGROUND"
		title="@Strings.propertyColorBackground">
		<settingConfig type="list">
			<listEntry value="0">@Strings.white</listEntry>
			<listEntry value="1">@Strings.light_gray</listEntry>
			<listEntry value="2">@Strings.dark_gray</listEntry>
			<listEntry value="3">@Strings.black</listEntry>
			<listEntry value="4">@Strings.red</listEntry>
			<listEntry value="5">@Strings.dark_red</listEntry>
			<listEntry value="6">@Strings.orange</listEntry>
			<listEntry value="7">@Strings.yellow</listEntry>
			<listEntry value="8">@Strings.green</listEntry>
			<listEntry value="9">@Strings.dark_green</listEntry>
			<listEntry value="10">@Strings.blue</listEntry>
			<listEntry value="11">@Strings.dark_blue</listEntry>
			<listEntry value="12">@Strings.purple</listEntry>
			<listEntry value="13">@Strings.pink</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.PROP_COLOR_CLOCK_HOUR"
		title="@Strings.propertyColorClockHour">
		<settingConfig type="list">
			<listEntry value="0">@Strings.white</listEntry>
			<listEntry value="1">@Strings.light_gray</listEntry>
			<listEntry value="2">@Strings.dark_gray</listEntry>
			<listEntry value="3">@Strings.black</listEntry>
			<listEntry value="4">@Strings.red</listEntry>
			<listEntry value="5">@Strings.dark_red</listEntry>
			<listEntry value="6">@Strings.orange</listEntry>
			<listEntry value="7">@Strings.yellow</listEntry>
			<listEntry value="8">@Strings.green</listEntry>
			<listEntry value="9">@Strings.dark_green</listEntry>
			<listEntry value="10">@Strings.blue</listEntry>
			<listEntry value="11">@Strings.dark_blue</listEntry>
			<listEntry value="12">@Strings.purple</listEntry>
			<listEntry value="13">@Strings.pink</listEntry>
			<listEntry value="21">@Strings.blue_0x0055AA</listEntry>
			<listEntry value="22">@Strings.blue_0x000055</listEntry>
			<listEntry value="23">@Strings.blue_0x00FFFF</listEntry>
			<listEntry value="31">@Strings.purple_0xAA55FF</listEntry>
			<listEntry value="32">@Strings.purple_0x0x55005</listEntry>
			<listEntry value="41">@Strings.orange_0xFFAAAA</listEntry>
			<listEntry value="51">@Strings.yellow_0xFFFFAA</listEntry>
			<listEntry value="61">@Strings.green_0xAAFFAA</listEntry>
			<listEntry value="62">@Strings.green_0x005555</listEntry>
			<listEntry value="71">@Strings.red_0xFF0055</listEntry>
			<listEntry value="81">@Strings.brown_0x550000</listEntry>
			<listEntry value="91">@Strings.pink_0xFF00AA</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.PROP_COLOR_CLOCK_MINUTE"
		title="@Strings.propertyColorClockMinute">
			<settingConfig type="list">
			<listEntry value="0">@Strings.white</listEntry>
			<listEntry value="1">@Strings.light_gray</listEntry>
			<listEntry value="2">@Strings.dark_gray</listEntry>
			<listEntry value="3">@Strings.black</listEntry>
			<listEntry value="4">@Strings.red</listEntry>
			<listEntry value="5">@Strings.dark_red</listEntry>
			<listEntry value="6">@Strings.orange</listEntry>
			<listEntry value="7">@Strings.yellow</listEntry>
			<listEntry value="8">@Strings.green</listEntry>
			<listEntry value="9">@Strings.dark_green</listEntry>
			<listEntry value="10">@Strings.blue</listEntry>
			<listEntry value="11">@Strings.dark_blue</listEntry>
			<listEntry value="12">@Strings.purple</listEntry>
			<listEntry value="13">@Strings.pink</listEntry>
			<listEntry value="21">@Strings.blue_0x0055AA</listEntry>
			<listEntry value="22">@Strings.blue_0x000055</listEntry>
			<listEntry value="23">@Strings.blue_0x00FFFF</listEntry>
			<listEntry value="31">@Strings.purple_0xAA55FF</listEntry>
			<listEntry value="32">@Strings.purple_0x0x55005</listEntry>
			<listEntry value="41">@Strings.orange_0xFFAAAA</listEntry>
			<listEntry value="51">@Strings.yellow_0xFFFFAA</listEntry>
			<listEntry value="61">@Strings.green_0xAAFFAA</listEntry>
			<listEntry value="62">@Strings.green_0x005555</listEntry>
			<listEntry value="71">@Strings.red_0xFF0055</listEntry>
			<listEntry value="81">@Strings.brown_0x550000</listEntry>
			<listEntry value="91">@Strings.pink_0xFF00AA</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.PROP_COLOR_CLOCK_TEXT_HOUR"
		title="@Strings.propertyColorClockTextHour">
			<settingConfig type="list">
			<listEntry value="0">@Strings.white</listEntry>
			<listEntry value="1">@Strings.light_gray</listEntry>
			<listEntry value="2">@Strings.dark_gray</listEntry>
			<listEntry value="3">@Strings.black</listEntry>
			<listEntry value="4">@Strings.red</listEntry>
			<listEntry value="5">@Strings.dark_red</listEntry>
			<listEntry value="6">@Strings.orange</listEntry>
			<listEntry value="7">@Strings.yellow</listEntry>
			<listEntry value="8">@Strings.green</listEntry>
			<listEntry value="9">@Strings.dark_green</listEntry>
			<listEntry value="10">@Strings.blue</listEntry>
			<listEntry value="11">@Strings.dark_blue</listEntry>
			<listEntry value="12">@Strings.purple</listEntry>
			<listEntry value="13">@Strings.pink</listEntry>
			<listEntry value="21">@Strings.blue_0x0055AA</listEntry>
			<listEntry value="22">@Strings.blue_0x000055</listEntry>
			<listEntry value="23">@Strings.blue_0x00FFFF</listEntry>
			<listEntry value="31">@Strings.purple_0xAA55FF</listEntry>
			<listEntry value="32">@Strings.purple_0x0x55005</listEntry>
			<listEntry value="41">@Strings.orange_0xFFAAAA</listEntry>
			<listEntry value="51">@Strings.yellow_0xFFFFAA</listEntry>
			<listEntry value="61">@Strings.green_0xAAFFAA</listEntry>
			<listEntry value="62">@Strings.green_0x005555</listEntry>
			<listEntry value="71">@Strings.red_0xFF0055</listEntry>
			<listEntry value="81">@Strings.brown_0x550000</listEntry>
			<listEntry value="91">@Strings.pink_0xFF00AA</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.PROP_COLOR_CLOCK_TEXT_MINUTE"
		title="@Strings.propertyColorClockTextMinute">
			<settingConfig type="list">
			<listEntry value="0">@Strings.white</listEntry>
			<listEntry value="1">@Strings.light_gray</listEntry>
			<listEntry value="2">@Strings.dark_gray</listEntry>
			<listEntry value="3">@Strings.black</listEntry>
			<listEntry value="4">@Strings.red</listEntry>
			<listEntry value="5">@Strings.dark_red</listEntry>
			<listEntry value="6">@Strings.orange</listEntry>
			<listEntry value="7">@Strings.yellow</listEntry>
			<listEntry value="8">@Strings.green</listEntry>
			<listEntry value="9">@Strings.dark_green</listEntry>
			<listEntry value="10">@Strings.blue</listEntry>
			<listEntry value="11">@Strings.dark_blue</listEntry>
			<listEntry value="12">@Strings.purple</listEntry>
			<listEntry value="13">@Strings.pink</listEntry>
			<listEntry value="21">@Strings.blue_0x0055AA</listEntry>
			<listEntry value="22">@Strings.blue_0x000055</listEntry>
			<listEntry value="23">@Strings.blue_0x00FFFF</listEntry>
			<listEntry value="31">@Strings.purple_0xAA55FF</listEntry>
			<listEntry value="32">@Strings.purple_0x0x55005</listEntry>
			<listEntry value="41">@Strings.orange_0xFFAAAA</listEntry>
			<listEntry value="51">@Strings.yellow_0xFFFFAA</listEntry>
			<listEntry value="61">@Strings.green_0xAAFFAA</listEntry>
			<listEntry value="62">@Strings.green_0x005555</listEntry>
			<listEntry value="71">@Strings.red_0xFF0055</listEntry>
			<listEntry value="81">@Strings.brown_0x550000</listEntry>
			<listEntry value="91">@Strings.pink_0xFF00AA</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.PROP_COLOR_CLOCK_SECOND"
		title="@Strings.propertyColorClockSecond">
			<settingConfig type="list">
			<listEntry value="0">@Strings.white</listEntry>
			<listEntry value="1">@Strings.light_gray</listEntry>
			<listEntry value="2">@Strings.dark_gray</listEntry>
			<listEntry value="3">@Strings.black</listEntry>
			<listEntry value="4">@Strings.red</listEntry>
			<listEntry value="5">@Strings.dark_red</listEntry>
			<listEntry value="6">@Strings.orange</listEntry>
			<listEntry value="7">@Strings.yellow</listEntry>
			<listEntry value="8">@Strings.green</listEntry>
			<listEntry value="9">@Strings.dark_green</listEntry>
			<listEntry value="10">@Strings.blue</listEntry>
			<listEntry value="11">@Strings.dark_blue</listEntry>
			<listEntry value="12">@Strings.purple</listEntry>
			<listEntry value="13">@Strings.pink</listEntry>
			<listEntry value="21">@Strings.blue_0x0055AA</listEntry>
			<listEntry value="22">@Strings.blue_0x000055</listEntry>
			<listEntry value="23">@Strings.blue_0x00FFFF</listEntry>
			<listEntry value="31">@Strings.purple_0xAA55FF</listEntry>
			<listEntry value="32">@Strings.purple_0x0x55005</listEntry>
			<listEntry value="41">@Strings.orange_0xFFAAAA</listEntry>
			<listEntry value="51">@Strings.yellow_0xFFFFAA</listEntry>
			<listEntry value="61">@Strings.green_0xAAFFAA</listEntry>
			<listEntry value="62">@Strings.green_0x005555</listEntry>
			<listEntry value="71">@Strings.red_0xFF0055</listEntry>
			<listEntry value="81">@Strings.brown_0x550000</listEntry>
			<listEntry value="91">@Strings.pink_0xFF00AA</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.PROP_COLOR_DATE"
		title="@Strings.propertyColorDate">
		<settingConfig type="list">
			<listEntry value="0">@Strings.white</listEntry>
			<listEntry value="1">@Strings.light_gray</listEntry>
			<listEntry value="2">@Strings.dark_gray</listEntry>
			<listEntry value="3">@Strings.black</listEntry>
			<listEntry value="4">@Strings.red</listEntry>
			<listEntry value="5">@Strings.dark_red</listEntry>
			<listEntry value="6">@Strings.orange</listEntry>
			<listEntry value="7">@Strings.yellow</listEntry>
			<listEntry value="8">@Strings.green</listEntry>
			<listEntry value="9">@Strings.dark_green</listEntry>
			<listEntry value="10">@Strings.blue</listEntry>
			<listEntry value="11">@Strings.dark_blue</listEntry>
			<listEntry value="12">@Strings.purple</listEntry>
			<listEntry value="13">@Strings.pink</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.PROP_COLOR_BUBBLE_BORDER"
		title="@Strings.propertyColorBubbleBorder">
		<settingConfig type="list">
			<listEntry value="0">@Strings.white</listEntry>
			<listEntry value="1">@Strings.light_gray</listEntry>
			<listEntry value="2">@Strings.dark_gray</listEntry>
			<listEntry value="3">@Strings.black</listEntry>
			<listEntry value="4">@Strings.red</listEntry>
			<listEntry value="5">@Strings.dark_red</listEntry>
			<listEntry value="6">@Strings.orange</listEntry>
			<listEntry value="7">@Strings.yellow</listEntry>
			<listEntry value="8">@Strings.green</listEntry>
			<listEntry value="9">@Strings.dark_green</listEntry>
			<listEntry value="10">@Strings.blue</listEntry>
			<listEntry value="11">@Strings.dark_blue</listEntry>
			<listEntry value="12">@Strings.purple</listEntry>
			<listEntry value="13">@Strings.pink</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.PROP_ICON_COLOR_BLUETOOTH"
		title="@Strings.propertyIconColorBluetooth">
		<settingConfig type="list">
			<listEntry value="0">@Strings.white</listEntry>
			<listEntry value="1">@Strings.light_gray</listEntry>
			<listEntry value="2">@Strings.dark_gray</listEntry>
			<listEntry value="3">@Strings.black</listEntry>
			<listEntry value="4">@Strings.red</listEntry>
			<listEntry value="5">@Strings.dark_red</listEntry>
			<listEntry value="6">@Strings.orange</listEntry>
			<listEntry value="7">@Strings.yellow</listEntry>
			<listEntry value="8">@Strings.green</listEntry>
			<listEntry value="9">@Strings.dark_green</listEntry>
			<listEntry value="10">@Strings.blue</listEntry>
			<listEntry value="11">@Strings.dark_blue</listEntry>
			<listEntry value="12">@Strings.purple</listEntry>
			<listEntry value="13">@Strings.pink</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.PROP_ICON_COLOR_ALARM"
		title="@Strings.propertyIconColorAlarm">
		<settingConfig type="list">
			<listEntry value="0">@Strings.white</listEntry>
			<listEntry value="1">@Strings.light_gray</listEntry>
			<listEntry value="2">@Strings.dark_gray</listEntry>
			<listEntry value="3">@Strings.black</listEntry>
			<listEntry value="4">@Strings.red</listEntry>
			<listEntry value="5">@Strings.dark_red</listEntry>
			<listEntry value="6">@Strings.orange</listEntry>
			<listEntry value="7">@Strings.yellow</listEntry>
			<listEntry value="8">@Strings.green</listEntry>
			<listEntry value="9">@Strings.dark_green</listEntry>
			<listEntry value="10">@Strings.blue</listEntry>
			<listEntry value="11">@Strings.dark_blue</listEntry>
			<listEntry value="12">@Strings.purple</listEntry>
			<listEntry value="13">@Strings.pink</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.PROP_ICON_COLOR_NOTIFICATION"
		title="@Strings.propertyIconColorNotification">
		<settingConfig type="list">
			<listEntry value="0">@Strings.white</listEntry>
			<listEntry value="1">@Strings.light_gray</listEntry>
			<listEntry value="2">@Strings.dark_gray</listEntry>
			<listEntry value="3">@Strings.black</listEntry>
			<listEntry value="4">@Strings.red</listEntry>
			<listEntry value="5">@Strings.dark_red</listEntry>
			<listEntry value="6">@Strings.orange</listEntry>
			<listEntry value="7">@Strings.yellow</listEntry>
			<listEntry value="8">@Strings.green</listEntry>
			<listEntry value="9">@Strings.dark_green</listEntry>
			<listEntry value="10">@Strings.blue</listEntry>
			<listEntry value="11">@Strings.dark_blue</listEntry>
			<listEntry value="12">@Strings.purple</listEntry>
			<listEntry value="13">@Strings.pink</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.PROP_DATE_FORMAT"
		title="@Strings.propertyDateFormat">
		<settingConfig type="list">
			<listEntry value="0">@Strings.dayNum_monthNum</listEntry>
			<listEntry value="1">@Strings.monthNum_dayNum_</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.PROP_HOUR_MODE"
		title="@Strings.propertyHourMode">
		<settingConfig type="list">
			<listEntry value="0">@Strings.hourMode_12</listEntry>
			<listEntry value="1">@Strings.hourMode_24</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.PROP_FONT_SIZE_DATE"
		title="@Strings.propertyFontSizeDate">
		<settingConfig type="list">
			<listEntry value="0">@Strings.xtiny</listEntry>
			<listEntry value="1">@Strings.tiny</listEntry>
			<listEntry value="2">@Strings.small</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.PROP_FONT_SIZE_CLOCK_HOUR"
		title="@Strings.propertyFontSizeClockHour">
		<settingConfig type="list">
			<listEntry value="0">@Strings.xtiny</listEntry>
			<listEntry value="1">@Strings.tiny</listEntry>
			<listEntry value="2">@Strings.small</listEntry>
			<listEntry value="3">@Strings.medium</listEntry>
			<listEntry value="4">@Strings.large</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.PROP_FONT_SIZE_CLOCK_MINUTE"
		title="@Strings.propertyFontSizeClockMinute">
		<settingConfig type="list">
			<listEntry value="0">@Strings.xtiny</listEntry>
			<listEntry value="1">@Strings.tiny</listEntry>
			<listEntry value="2">@Strings.small</listEntry>
			<listEntry value="3">@Strings.medium</listEntry>
			<listEntry value="4">@Strings.large</listEntry>
		</settingConfig>
	</setting>
	
	
	<setting propertyKey="@Properties.PROP_SHOW_DATE"
		title="@Strings.propertyShowDate">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.PROP_SHOW_BATTERY"
		title="@Strings.propertyShowBattery">
		<settingConfig type="boolean" />
	</setting>
	
	<setting propertyKey="@Properties.PROP_SHOW_BLUETOOTH"
		title="@Strings.propertyShowBluetooth">
		<settingConfig type="boolean" />
	</setting>
	
	<setting propertyKey="@Properties.PROP_SHOW_ALARM"
		title="@Strings.propertyShowAlarm">
		<settingConfig type="boolean" />
	</setting>
	
	<setting propertyKey="@Properties.PROP_SHOW_NOTIFICATION"
		title="@Strings.propertyShowNotification">
		<settingConfig type="boolean" />
	</setting>
	

	<setting propertyKey="@Properties.PROP_SHOW_ORBIT_HOUR"
		title="@Strings.propertyOrbitHour">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.PROP_SHOW_ORBIT_MINUTE"
		title="@Strings.propertyOrbitMinute">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.PROP_SHOW_ORBIT_SECOND"
		title="@Strings.propertyOrbitSecond">
		<settingConfig type="boolean" />
	</setting>
	
	<setting propertyKey="@Properties.PROP_ORBIT_DISTANCE_HOUR"
		title="@Strings.propertyOrbitDistanceHour">
		<settingConfig type="numeric" min="15" max="100"/>
	</setting>
	<setting propertyKey="@Properties.PROP_ORBIT_DISTANCE_MINUTE"
		title="@Strings.propertyOrbitDistanceMinute">
		<settingConfig type="numeric" min="15" max="100" />
	</setting>
	<setting propertyKey="@Properties.PROP_ORBIT_DISTANCE_SECOND"
		title="@Strings.propertyOrbitDistanceSecond">
		<settingConfig type="numeric" min="15" max="100"/>
	</setting>
	
	<setting propertyKey="@Properties.PROP_ORBIT_WIDTH_HOUR"
		title="@Strings.propertyOrbitWidthHour">
		<settingConfig type="numeric" min="1" max="3"/>
	</setting>
	<setting propertyKey="@Properties.PROP_ORBIT_WIDTH_MINUTE"
		title="@Strings.propertyOrbitWidthMinute">
		<settingConfig type="numeric" min="1" max="3" />
	</setting>
	<setting propertyKey="@Properties.PROP_ORBIT_WIDTH_SECOND"
		title="@Strings.propertyOrbitWidthSecond">
		<settingConfig type="numeric" min="1" max="3" />
	</setting>

</settings>